@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Register>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<div class="container">
    @Html.Action("RenderRegister", "Register")
</div>