.products-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: auto;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 0.5rem;
    margin: 0 1rem;
    margin-top: 1rem;
}

.product-card-img {
    width: 90%;
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 1rem;
}

.card{
    margin-top: 1rem;
    width: 90%;
}